.form {
  margin: 40% 0 5% 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid blue;
}

.form Input {
  font-size: 1.3rem;
}

.form Button {
  font-size: 1.3rem;
}

.forgot a {
  border-right: 2px solid white;
  padding: 0 1rem;
  color: rgb(45, 136, 255);
}

.forgot :last-child {
  border-right: none;
}

.forgot :first-child {
  padding-left: 0;
}
