@media only screen and (max-width: 500px) {
  /* start of phone styles */
  * {
    box-sizing: border-box;
  }

  html {
    background-color: #232c3b;
  }

  .App {
    text-align: center;
    height: 100vh;
  }

  .warnOff {
    display: none;
  }

  .warnOn {
    color: red;
  }

  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .footer {
    border: 1px solid red;
  }
}
