* {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  /* start of phone styles */

  .mainContainer {
    background-color: #232c3b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    border: 1px solid red;
  }

  .header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    min-height: 1vh;
    border: 1px solid green;
  }

  .header #home {
    position: absolute;
    left: 20px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .header #menu {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .header > h1,
  .header > h2 {
    font-size: 1.3rem;
  }

  .board {
    min-height: 35vh;
    border: 1px solid rgb(0, 255, 21);
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.4rem 0;
  }

  .categories div h3 {
    margin: 0;
    padding: -1rem;
    color: white;
    font-size: 1.2rem;
  }

  .categories div span {
  }

  .navContainer {
    border: 1px solid red;
    padding: 0.3rem 0.5rem;
  }

  .navContainer Button {
    font-weight: 400;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    box-shadow: 1px 0 5px rgb(0, 0, 0, 0.5);
  }

  /* Bills CSS */
  .totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
    border: 1px solid red;
  }

  .totals span p {
    border: 1px solid red;
    margin: 0;
  }

  .calendar {
    border: 1px solid green;
    margin: 0 auto 1rem auto;
  }

  .add {
    border: 1px solid red;
    margin: 0 1rem 1rem 1rem;
  }

  #add-btn {
    border: 1px solid red;
  }

  .list {
    background: white;
  }

  /* End */

  .content {
    border: 1px solid yellow;
    text-align: left;
  }

  .content li {
    border: 1px solid green;
  }
}
