.mainContainer {
  background-color: #232c3b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid red;
}

.header {
  min-height: 15vh;
  border: 1px solid red;
}

.board {
  min-height: 20vh;
  border: 1px solid red;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bills {
  min-height: 40vh;
  border: 1px solid red;
}

.content {
  border: 1px solid yellow;
  text-align: left;
}

.content li {
  border: 1px solid green;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  min-height: 10vh;
  border: 1px solid red;
}
